name: HomeOwner SignUp tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      # Install npm dependencies, cache them correctly
      # and run HomwOwner Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
         command: npm run test:homewoner-signup-test
         browser: firefox
         working-directory: Web-Automatio
        env:
          CYPRESS_CACHE_FOLDER: ~/.cache/Cypress
      - name: SignUp Test Report
      - uses: actions/upload-artifact@v4
        with:
         name: Signup Mochawesome HTML Report
         path: cypress/reports/html
