name: example-start-and-yarn-workspaces
on: push
jobs:
  single:
    # the example has Yarn workspace in its "root" folder
    # examples/start-and-yarn-workspaces
    # and tests in a subfolder like "workspace-1"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: cypress-io/github-action@v6
        with:
          working-directory: FlacronBuild/Web-Automatio
          browser: chrome
          build: yarn run build
          start: yarn start
          wait-on: 'http://localhost:5000'
