name: Homeowner Signup tests
on:
  push:
    branches:
      - web-signup-tests   # your branch

jobs:
  homeowner-run:
    name: HomeOwner Signup Test on Chrome
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies
        working-directory: Web-Automatio
        run: npm install

      - name: Run Homeowner Signup Test
        uses: cypress-io/github-action@v6
        with:
          working-directory: Web-Automatio
          run: npm run test:homeowner-signup-test
          browser: chrome          

        # 6. Upload Mochawesome HTML reports
      - name: Upload Mochawesome Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: HomeOwner-SignUp-Report
          path: Web-Automatio/cypress/reports/html
